In [1]:
import pandas as pd
import sys

In [11]:
pd.set_option("display.max_columns", None)

In [7]:
sys.path.append('../src/')

In [8]:
from paths.path import raw_data_path

In [9]:
raw_data = pd.read_csv('../'+raw_data_path)

In [12]:
raw_data.head()

,ID,Edad,Tipo_Trabajo,Estado_Civil,Educacion,mora,Vivienda,Consumo,Contacto,Mes,Dia,Campana,Dias_Ultima_Camp,No_Contactos,Resultado_Anterior,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,vlr_ingresos,segmento,perfil_riesgo,marg_cont,score_cliente,ah,cc,cdt,sum_saldo_prom_ah,sum_monto_trx_ah,sum_cant_trx_ah,sum_saldo_prom_cc,sum_monto_trx_cc,sum_cant_trx_cc,cdt_sum_valor_interes,cdt_sum_monto_apertura,cdt_prom_plazo_total_meses,buro_max_deuda,buro_num_creditos
0,1,57,servicios,casado,bachillerato,NaN,no,no,telefono fijo,may,mon,1,999,0,sin contacto,1.1,93994,-36.4,4857,5191,NaN,masivo,4,39934.283060,800,SI,SI,SI,51122.092369,4892.035993,15,201802.746666,14149.100095,15,34822.077979,1.069104e+06,48,4.540463e+06,3
1,2,37,servicios,casado,bachillerato,no,si,no,telefono fijo,may,mon,1,999,0,sin contacto,1.1,93994,-36.4,4857,5191,1.361736e+06,masivo,2,27234.713977,900,NaN,SI,NaN,0.000000,0.000000,0,461613.528921,32365.347517,7,0.000000,0.000000e+00,0,1.496613e+07,9
2,3,40,administrador negocio,casado,primaria,no,no,no,telefono fijo,may,mon,1,999,0,sin contacto,1.1,93994,-36.4,4857,5191,2.147689e+06,masivo,1,42953.770762,950,SI,SI,SI,427408.141052,40900.047566,8,394254.451709,27642.565783,6,49104.757817,1.332824e+05,43,4.507589e+05,2
3,4,56,servicios,casado,bachillerato,no,no,si,telefono fijo,may,mon,1,999,0,sin contacto,1.1,93994,-36.4,4857,5191,3.023030e+06,preferente,2,151151.492820,900,SI,NaN,NaN,193898.746403,18554.789179,12,0.000000,0.000000,0,0.000000,0.000000e+00,0,1.463074e+06,3
4,7,25,servicios,single,bachillerato,no,si,no,telefono fijo,may,mon,1,999,0,sin contacto,1.1,93994,-36.4,4857,5191,1.265847e+06,masivo,2,25316.932506,900,SI,SI,SI,13528.477459,1294.583136,9,270352.172168,18955.341332,10,27268.494747,1.867617e+06,43,1.329807e+07,8